* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color:  rgb(177, 25, 25);
  color: #fff;
  min-height: 100vh;
}


.menu-btn {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 28px;
  cursor: pointer;
  color: aliceblue;
  background: rgb(177, 25, 25);
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 1001;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #111;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 1002;
}

.sidebar.active { left: 0; }

.sidebar ul { list-style: none; }
.sidebar ul li { padding: 15px 20px; border-bottom: 1px solid rgba(255,255,255,0.1); }
.sidebar ul li a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  font-size: 14px;
  display: block;
}
.sidebar ul li a:hover { color: #ff4444; }
.sidebar ul li.logout { margin-top: 40px; }

.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 1000;
}
.overlay.active { display: block; }




.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}


.title {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
 
}



.search-box {
  display: flex;
  width: 100%;
  max-width: 400px;
  background-color: #111;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #333;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  padding: 10px 15px;
  font-size: 1rem;
}

.search-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 15px;
  cursor: pointer;
}

.vehicle-list {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.vehicle-item {
  display: flex;
  align-items: center;
  background-color: #111;
  border: 1px solid #333;
  border-radius: 10px;
  overflow: hidden;
}

.vehicle-item img {
  width: 100px;
  height: 80px;
  object-fit: cover;
}

.vehicle-info {
  padding: 10px;
}

.vehicle-name {
  color: #a80e0e;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.vehicle-name:hover {
  text-decoration: underline;
}

.vehicle-plate {
  color: #ccc;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .vehicle-item img {
    width: 80px;
    height: 70px;
  }

  .btn-acessar {
    width: 100%;
  }

  .search-box {
    width: 100%;
  }
}
